{
    "openapi": "3.0.1",
    "info": {
        "title": "Listener V3 API",
        "description": "The API for the Listeners",
        "contact": {
            "name": "Orangebeard",
            "url": "https://orangebeard.io",
            "email": "info@orangebeard.io"
        }
    },
    "servers": [
        {
            "url": "https://praegus.orangebeard.app/listener",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/v3/{projectName}/test/finish/{testUUID}": {
            "put": {
                "tags": [
                    "test-v-3-controller"
                ],
                "summary": "Finish test run for specified project",
                "operationId": "finishTest",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "testUUID",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FinishTest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Test run finished for specified project",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/test-run/start/{testRunUUID}": {
            "put": {
                "tags": [
                    "test-run-v-3-controller"
                ],
                "summary": "Update properties of an existing created test-run.",
                "operationId": "updateAnnouncedTestRunStatus",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "testRunUUID",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/test-run/finish/{testRunUUID}": {
            "put": {
                "tags": [
                    "test-run-v-3-controller"
                ],
                "summary": "Finish test run for specified project",
                "operationId": "finishTestRun",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "testRunUUID",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FinishTestRun"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Test run finished for specified project.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/step/finish/{stepUUID}": {
            "put": {
                "tags": [
                    "step-v-3-controller"
                ],
                "summary": "Finish step run for specified project",
                "operationId": "finishstep",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stepUUID",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FinishStep"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "step run finished for specified project",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/test/start": {
            "post": {
                "tags": [
                    "test-v-3-controller"
                ],
                "summary": "Starts a test for specified project",
                "operationId": "startTest",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StartTest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Test started for specified project",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/test-tool/mta/update": {
            "post": {
                "tags": [
                    "mta-report-controller"
                ],
                "summary": "Updates a test run based on MTA specific callback data",
                "operationId": "processMtaUpdate",
                "parameters": [
                    {
                        "name": "Signature",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string",
                                "description": "Mta Result payload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "MTA result appended to test run for the specified project",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/test-run/start": {
            "post": {
                "tags": [
                    "test-run-v-3-controller"
                ],
                "summary": "Starts a test run for specified project",
                "operationId": "startTestRun",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StartTestRun"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Test Run started for specified project.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/test-run/announce": {
            "post": {
                "tags": [
                    "test-run-v-3-controller"
                ],
                "summary": "Announce a testrun for a specified project",
                "operationId": "announceTestRun",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnnounceTestRun"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Announce a testrun, including a list of changed components.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/suite/start": {
            "post": {
                "tags": [
                    "suite-v-3-controller"
                ],
                "summary": "Starts a suite for specified project",
                "operationId": "startSuite",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "Application/Json": {
                            "schema": {
                                "$ref": "#/components/schemas/StartSuiteRQ"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Starts a suite for specified project",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/step/start": {
            "post": {
                "tags": [
                    "step-v-3-controller"
                ],
                "summary": "Starts a step for specified project",
                "operationId": "startstep",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StartStep"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Step started for specified project",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/log": {
            "post": {
                "tags": [
                    "log-v-3-controller"
                ],
                "summary": "Log a message to a test or step",
                "operationId": "log",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "Application/Json": {
                            "schema": {
                                "$ref": "#/components/schemas/LogRQ"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Log a message to a test or step",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/log/batch": {
            "post": {
                "tags": [
                    "log-v-3-controller"
                ],
                "summary": "Log a message to a test or step (batch)",
                "operationId": "log_1",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "Application/Json": {
                            "schema": {
                                "type": "array",
                                "description": "Log requests",
                                "items": {
                                    "$ref": "#/components/schemas/LogRQ"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Log a message to a test or step",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/v3/{projectName}/attachment": {
            "post": {
                "tags": [
                    "attachment-v-3-controller"
                ],
                "summary": "Attach a file to a log",
                "operationId": "logWithAttachment",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ListenerApiAccessToken"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Attach a file to a log",
                        "content": {
                            "multipart/form-data": {}
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ListenerApiAccessToken": {
                "type": "object",
                "properties": {
                    "listenerApiAccessToken": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "FinishTest": {
                "required": [
                    "endTime",
                    "status",
                    "testRunUUID"
                ],
                "type": "object",
                "properties": {
                    "testRunUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PASSED",
                            "FAILED",
                            "SKIPPED",
                            "STOPPED",
                            "TIMED_OUT"
                        ]
                    },
                    "endTime": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "FinishTestRun": {
                "required": [
                    "endTime"
                ],
                "type": "object",
                "properties": {
                    "endTime": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "FinishStep": {
                "required": [
                    "endTime",
                    "status",
                    "testRunUUID"
                ],
                "type": "object",
                "properties": {
                    "testRunUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PASSED",
                            "FAILED",
                            "SKIPPED",
                            "STOPPED",
                            "TIMED_OUT"
                        ]
                    },
                    "endTime": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Attribute": {
                "required": [
                    "value"
                ],
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    }
                }
            },
            "StartTest": {
                "required": [
                    "startTime",
                    "suiteUUID",
                    "testName",
                    "testRunUUID",
                    "testType"
                ],
                "type": "object",
                "properties": {
                    "testRunUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "suiteUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "testName": {
                        "type": "string"
                    },
                    "testType": {
                        "type": "string",
                        "enum": [
                            "TEST",
                            "BEFORE",
                            "AFTER"
                        ]
                    },
                    "description": {
                        "maxLength": 1024,
                        "minLength": 0,
                        "type": "string"
                    },
                    "attributes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Attribute"
                        }
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "description": "Start test request body"
            },
            "ChangedComponent": {
                "type": "object",
                "properties": {
                    "componentName": {
                        "maxLength": 128,
                        "minLength": 0,
                        "pattern": "^[a-zA-Z0-9\\-_]*$",
                        "type": "string"
                    },
                    "componentVersion": {
                        "type": "string"
                    }
                }
            },
            "StartTestRun": {
                "type": "object",
                "properties": {
                    "testSetName": {
                        "type": "string"
                    },
                    "description": {
                        "maxLength": 1024,
                        "minLength": 0,
                        "type": "string"
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "attributes": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Attribute"
                        }
                    },
                    "changedComponents": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChangedComponent"
                        }
                    }
                },
                "description": "Start test run request body"
            },
            "AnnounceTestRun": {
                "type": "object",
                "properties": {
                    "testSetName": {
                        "type": "string"
                    },
                    "description": {
                        "maxLength": 1024,
                        "minLength": 0,
                        "type": "string"
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "attributes": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Attribute"
                        }
                    },
                    "sutComponents": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SUTComponent"
                        }
                    }
                }
            },
            "SUTComponent": {
                "type": "object",
                "properties": {
                    "componentId": {
                        "type": "string"
                    },
                    "componentName": {
                        "type": "string"
                    },
                    "version": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "NEW",
                            "EXISTING"
                        ]
                    },
                    "createdDateTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedDateTime": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "StartSuiteRQ": {
                "required": [
                    "suiteNames",
                    "testRunUUID"
                ],
                "type": "object",
                "properties": {
                    "testRunUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "parentSuiteUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "description": {
                        "maxLength": 1024,
                        "minLength": 0,
                        "type": "string"
                    },
                    "attributes": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Attribute"
                        }
                    },
                    "suiteNames": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "description": "Start suite request body"
            },
            "StartStep": {
                "required": [
                    "startTime",
                    "stepName",
                    "testRunUUID",
                    "testUUID"
                ],
                "type": "object",
                "properties": {
                    "testRunUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "testUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "parentStepUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "stepName": {
                        "type": "string"
                    },
                    "description": {
                        "maxLength": 1024,
                        "minLength": 0,
                        "type": "string"
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "description": "Start step request body"
            },
            "LogRQ": {
                "required": [
                    "logFormat",
                    "logLevel",
                    "logTime",
                    "message",
                    "testRunUUID",
                    "testUUID"
                ],
                "type": "object",
                "properties": {
                    "testRunUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "testUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "stepUUID": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "logTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "message": {
                        "maxLength": 2147483647,
                        "minLength": 1,
                        "type": "string"
                    },
                    "logLevel": {
                        "type": "string",
                        "enum": [
                            "ERROR",
                            "WARN",
                            "INFO",
                            "DEBUG"
                        ]
                    },
                    "logFormat": {
                        "type": "string",
                        "enum": [
                            "PLAIN_TEXT",
                            "HTML",
                            "MARKDOWN"
                        ]
                    }
                },
                "description": "Log request body"
            },
            "Test": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "IN_PROGRESS",
                            "ANNOUNCED",
                            "PASSED",
                            "FAILED",
                            "SKIPPED",
                            "STOPPED",
                            "INTERRUPTED",
                            "TIMED_OUT"
                        ]
                    },
                    "testId": {
                        "type": "string"
                    },
                    "startTime": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "endTime": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "suiteId": {
                        "type": "string"
                    },
                    "testName": {
                        "type": "string"
                    },
                    "testType": {
                        "type": "string",
                        "enum": [
                            "TEST",
                            "BEFORE",
                            "AFTER"
                        ]
                    },
                    "testRunId": {
                        "type": "string"
                    },
                    "suiteNames": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "description": {
                        "type": "string"
                    },
                    "projectName": {
                        "type": "string"
                    },
                    "testSetName": {
                        "type": "string"
                    },
                    "testSetDisplayName": {
                        "type": "string"
                    },
                    "testRunUserFacingId": {
                        "type": "string"
                    }
                }
            }
        }
    }
}